.error {
    font-style: italic;
    color: saddlebrown;
    border-radius: .25rem !important;
    border: 1px solid saddlebrown !important;
}
label.error {
    border: none !important;
}
.valid {
    border-radius: .25rem !important;
}

.input-group-text {
    /*background-color: #d6d8d9;
    color: darkslategrey;*/

}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

